# Database configuration
DB_USERNAME=root
DB_PASSWORD=admin
DB_URL=jdbc:mysql://db:3306/jodel?serverTimezone=UTC&allowPublicKeyRetrieval=true&useSSL=false

# Frontend Host & Port for CORS
FRONTEND_HOST=http://localhost
FRONTEND_PORT=80